<a href="{{unbound linkUrl}}">
  {{#if showSmallLogo}}
    {{#if smallLogoUrl}}
      <img class="logo-small" src="{{unbound smallLogoUrl}}" width="33" height="33">
    {{else}}
      <i class="fa fa-home"></i>
    {{/if}}
  {{else}}
      <a href="http://smokefreeproject.org">
        <img id="site-logo" class="logo-big" src="{{unbound bigLogoUrl}}" alt="{{unbound title}}">
        <span class="sfp-icon-text">SmokeFreeProject</span>
      </a>
  {{/if}}
</a>

<style>
  span.sfp-icon-text {
  line-height: 22px;
  font-size: 22px;
  }
</style>